.cookies_popup {
.Instellingen_button{
  background-color: #fff !important;
border: 1px solid #222 !important;
color: #222 !important;
}
    background-color: #fff;
    width: 100%;
    max-width: 100%;
    opacity: 0.9;

    .cookie_policy {
        margin-bottom: 20px;
        max-width: 640px;
        text-align: justify;
    }

    .button_block {
        display: flex;
        justify-content: space-around;
        
    }

    .cookie_contianer {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 30px 10px;
        background: #fff;
        box-shadow: 0 -2px 18px rgba(0, 0, 0, .06);
    }

    .decline_button {
        color: #222 !important;
        background-color: #ffcc00 !important;
        &:hover {
                background-color: #f1c000 !important;
          }
    } 
}

.cookie_modal {
    backdrop-filter: blur(40px);
    z-index: 10;
}
/* src/ToggleSwitch.css */
.toggle-switch {
  position: relative;
  width: 50px;
  display: inline-block;
  text-align: left;
  top: 0px;
}

.toggle-switch-checkbox {
  display: none;
}

.toggle-switch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border-radius: 20px;
}

.toggle-switch-label .toggle-switch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.1s ease-in 0s;
}

.toggle-switch-label .toggle-switch-inner:before,
.toggle-switch-label .toggle-switch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 25px;
  padding: 0;
  line-height: 20px;
  font-size: 14px;
  color: #FFF;
  box-sizing: border-box;
}
.toggle-switch-inner.disabled:before {
  background-color: #ccc !important; 
}
.toggle-switch-label .toggle-switch-inner:before {
  content: "";
  padding-left: 10px;
  background-color: var(--themeColor);
  color: #fff;
}
.more_info{
    color: var(--themeColor);
}
.toggle-switch-label .toggle-switch-inner:after {
  content: "";
  padding-right: 10px;
  background-color: #e8e8e8;
  color: #fff;
  text-align: right;
}

.toggle-switch-label .toggle-switch-switch {
  display: block;
  width: 20px;
  margin: 1px;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 28px;
  border-radius: 50%;
  transition: all 0.1s ease-in 0s;
}

.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-inner {
  margin-left: 0;
}

.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-switch {
  right: 0px;
}

.table-container {
    width: 100%;
    overflow-x: auto;
  }
  
  .table-contents {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table-contents th, .table-contents td {
    border: 1px solid #ddd;
    padding: 1rem;
    text-align: left;
  }

  @media (max-width: 768px) {
    .table-contents th, .table-contents td {
      font-size: 14px;
      padding: 4px;
    }
  }
  
  @media (max-width: 480px) {
    .button_block {
      display: flex;
      flex-direction: column;
     button{
      margin: 0.5rem 0px;
     }
  }
    .table-contents th, .table-contents td {
      font-size: 12px;
      padding: 2px;
    }
  }
  
@media(min-width: 420px) {

    .button_block {
        display: block;
       button{
        padding: 0.25rem 2rem;
       }
    }
}

.institutions_dialog {
  .MuiDialog-paper {
    overflow-y: auto;
    
    @-moz-document url-prefix() {
      max-height: 80vh !important;
      overflow-y: auto;
    }
  }
}