.sidebar__mondu {
  background-color: #fff;

  h1 {
    font-size: 20px;
  }

  .sidebar__heading {
    border-bottom: 1px solid #dfdfdf;

    h1 {
      font-size: 20px;
    }
    .mondu__img {
      width: 109px;
      height: 28px;
      margin-top: -10px;
    }
  }

  .sidebar__content {
    p {
      font-size: 14px;
      line-height: 1.5rem;
    }
  }

  .sidebar__accordion__section {
    p {
      font-size: 14px;
      line-height: 20px;
      appearance: none;
      background: transparent !important;
    }
    .answers{
      line-height: 23px;
    }

    .toggle__arrow {
      width: 15px;
      height: 20px;
      padding-right: 4px;
    }
  }
  .close__icon{
    margin-bottom: 10px;
  }
}