.whatsapp__messenger{
  svg{
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 0;
    left: 10px;
    z-index: 10000;
    opacity: 0.9;
    margin-bottom: 1rem;
    }
      
}
.cls-1 {
  fill: #fff;
}

.cls-2 {
  fill: #00b200;
}
@media(min-width: 1024px) {
  .whatsapp__messenger{
    display: none;
  }  
}
@media(max-width: 1024px) {
    .tawk-min-container .tawk-button-circle.tawk-button-large {
      display: none !important;
    }  
  }
